# Operations Research 2 Project

importing the libraries

In [1]:
import pandas as pd
import numpy as np
import random

the coding solution for the problem, please pass W,w,p,q Only!

In [2]:
def knapsack(W,w,p,q,k = -1,tables = {}):
    if(k==-1): #Starting Point
        k = len(w)+1
        tables[k] = np.zeros(W+1,dtype=int).reshape(W+1,1)
        return knapsack(W,w,p,q,k-1,tables) 
    if(k==0): #End
        return tables
    # k>=1
    x_values = np.arange(int(W/w[k-1])+1) #Legal x values for each container.
    if k==1: #Actually, this will be the last board, so we start with W capacity.
        s_values = [W]
    else:
        s_values = np.arange(W+1) 
    current_table = np.zeros(len(s_values)*len(x_values),dtype=int).reshape(len(s_values),len(x_values)) 
    #This is a 2D array.

    for s in s_values: 
        for x in x_values:
            if len(s_values)==1: #for the last board, we will start with W capacity.
                if x==0:
                    current_table[0,x] = np.amax(tables[k+1],1)[s_values[0]]
                elif x*w[k-1] <= s:
                    current_table[0,x] = x*p[k-1] + np.amax(tables[k+1],1)[s-x*w[k-1]]
                else:
                    current_table[0,x] = -1
            else:
                if x==0:
                    current_table[s,x] = np.amax(tables[k+1],1)[s]
                elif x*w[k-1] <= s:
                    current_table[s,x] = x*p[k-1]*(1-q) + (x-1)*p[k-1]*q + np.amax(tables[k+1],1)[s-x*w[k-1]]
                else:
                    current_table[s,x] = -1

    tables[k] = current_table
    return knapsack(W,w,p,q,k-1,tables)

A function for printing the solution

In [3]:
def print_optimal_tables(tables,W,p):
    space = 0 #f_tables
    optimal_table = {} #f_tables
    opt_full_tables = {}
    for elem in range(1,len(tables.keys())):
        df = pd.DataFrame(tables[elem])
        colname_f = 'f*'+str(elem)
        df[colname_f] = np.amax(df,1)
        colname_x = 'x*'+str(elem)
        df[colname_x] = np.argmax(tables[elem],1)
        if(elem == 1): 
            df.index = [str(W)]
            optimal_table[elem] = np.array(df.iloc[0,-2:])
        if(elem !=1):
            space = space + optimal_table[elem-1][1]*p[elem-2]
            optimal_table[elem] = np.array(df.iloc[W-space,-2:])
        df = df.astype(str)
        df.replace({"-1": "-"}, inplace=True)
        opt_full_tables[elem] = df
    
    for elem in reversed(range(1,len(tables.keys()))):
        if elem == len(tables)-1:
            print('---------------------------------------')
            print('------------- Full tables -------------')
        print('---------------------------------------')
        print('k='+str(elem))
        print(opt_full_tables[elem])
    
    opt_df = pd.DataFrame(optimal_table).transpose()
    opt_df.columns = ['f*','x*']
    print('---------------------------------------')
    print('------------ Optimal table ------------')
    print('---------------------------------------')
    print(opt_df)

a function for getting the second ID

In [4]:
def second_id():
    id_lst = []
    id_lst.append(random.choice([2,3])) #first number in id
    help_lst = [i for i in range(1,11)] #0 already replaced with 10
    for i in range(0,8):
        id_lst.append(random.choice(help_lst))
    return(id_lst)

Getting the data

In [5]:
w1 = second_id()
w2 = second_id()
w= w1 + w2
p= w2 + w1
W = sum(w)
q = abs(w1[3]-w2[3])/10

In [7]:
print('w1')
print(w1)
print('w2')
print(w2)
print('W')
print(W)
print('w')
print(w)
print('p')
print(p)
print('q')
print(q)

w1
[2, 9, 3, 3, 8, 10, 5, 5, 7]
w2
[3, 5, 8, 3, 4, 7, 6, 2, 3]
W
93
w
[2, 9, 3, 3, 8, 10, 5, 5, 7, 3, 5, 8, 3, 4, 7, 6, 2, 3]
p
[3, 5, 8, 3, 4, 7, 6, 2, 3, 2, 9, 3, 3, 8, 10, 5, 5, 7]
q
0.0

## Sloution

In [8]:
ans = knapsack(W,w,p,q)

In [9]:
print_optimal_tables(ans,W,w)

---------------------------------------
------------- Full tables -------------
---------------------------------------
k=18
    0  1   2   3   4   5   6   7   8   9  ...   24   25   26   27   28   29  \
0   0  -   -   -   -   -   -   -   -   -  ...    -    -    -    -    -    -
1   0  -   -   -   -   -   -   -   -   -  ...    -    -    -    -    -    -
2   0  -   -   -   -   -   -   -   -   -  ...    -    -    -    -    -    -
3   0  7   -   -   -   -   -   -   -   -  ...    -    -    -    -    -    -
4   0  7   -   -   -   -   -   -   -   -  ...    -    -    -    -    -    -
.. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...  ...
89  0  7  14  21  28  35  42  49  56  63  ...  168  175  182  189  196  203
90  0  7  14  21  28  35  42  49  56  63  ...  168  175  182  189  196  203
91  0  7  14  21  28  35  42  49  56  63  ...  168  175  182  189  196  203
92  0  7  14  21  28  35  42  49  56  63  ...  168  175  182  189  196  203
93  0  7  14  21  28  35  42  49  56  63  ...  168  175  182  189  196  203

     30   31 f*18 x*18
0     -    -    0    0
1     -    -    0    0
2     -    -    0    0
3     -    -    7    1
4     -    -    7    1
..  ...  ...  ...  ...
89    -    -  203   29
90  210    -  210   30
91  210    -  210   30
92  210    -  210   30
93  210  217  217   31

[94 rows x 34 columns]
---------------------------------------
k=17
      0    1    2    3    4    5    6    7    8    9  ...   39   40   41   42  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     0    5    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    5    -    -    -    -    -    -    -    -  ...    -    -    -    -
4     7    5   10    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  203  208  206  204  209  207  205  210  208  206  ...  216  221  219  217
90  210  208  206  211  209  207  212  210  208  213  ...  223  221  219  224
91  210  208  213  211  209  214  212  210  215  213  ...  223  221  226  224
92  210  215  213  211  216  214  212  217  215  213  ...  223  228  226  224
93  217  215  213  218  216  214  219  217  215  220  ...  230  228  226  231

     43   44   45   46 f*17 x*17
0     -    -    -    -    0    0
1     -    -    -    -    0    0
2     -    -    -    -    5    1
3     -    -    -    -    7    0
4     -    -    -    -   10    2
..  ...  ...  ...  ...  ...  ...
89  222  220    -    -  222   43
90  222  220  225    -  225   45
91  222  227  225    -  227   44
92  229  227  225  230  230   46
93  229  227  232  230  232   45

[94 rows x 49 columns]
---------------------------------------
k=16
      0    1    2    3    4    5    6    7    8    9   10   11   12   13  14  \
0     0    -    -    -    -    -    -    -    -    -    -    -    -    -   -
1     0    -    -    -    -    -    -    -    -    -    -    -    -    -   -
2     5    -    -    -    -    -    -    -    -    -    -    -    -    -   -
3     7    -    -    -    -    -    -    -    -    -    -    -    -    -   -
4    10    -    -    -    -    -    -    -    -    -    -    -    -    -   -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..
89  222  212  202  192  182  172  162  152  142  132  122  112  102   92  82
90  225  215  205  195  185  175  165  155  145  135  125  115  105   95  85
91  227  217  207  197  187  177  167  157  147  137  127  117  107   97  87
92  230  220  210  200  190  180  170  160  150  140  130  120  110  100  90
93  232  222  212  202  192  182  172  162  152  142  132  122  112  102  92

    15 f*16 x*16
0    -    0    0
1    -    0    0
2    -    5    0
3    -    7    0
4    -   10    0
..  ..  ...  ...
89   -  222    0
90  75  225    0
91  75  227    0
92  80  230    0
93  82  232    0

[94 rows x 18 columns]
---------------------------------------
k=15
      0    1    2    3    4    5    6    7    8    9   10   11   12   13 f*15  \
0     0    -    -    -    -    -    -    -    -    -    -    -    -    -    0
1     0    -    -    -    -    -    -    -    -    -    -    -    -    -    0
2     5    -    -    -    -    -    -    -    -    -    -    -    -    -    5
3     7    -    -    -    -    -    -    -    -    -    -    -    -    -    7
4    10    -    -    -    -    -    -    -    -    -    -    -    -    -   10
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  215  207  200  192  185  177  170  162  155  147  140  132    -  222
90  225  217  210  202  195  187  180  172  165  157  150  142  135    -  225
91  227  220  212  205  197  190  182  175  167  160  152  145  137  130  227
92  230  222  215  207  200  192  185  177  170  162  155  147  140  130  230
93  232  225  217  210  202  195  187  180  172  165  157  150  142  135  232

   x*15
0     0
1     0
2     0
3     0
4     0
..  ...
89    0
90    0
91    0
92    0
93    0

[94 rows x 16 columns]
---------------------------------------
k=14
      0    1    2    3    4    5    6    7    8    9  ...   16   17   18   19  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
4    10    8    -    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  220  218  216  214  212  210  208  206  204  ...  190  188  186  184
90  225  223  221  219  217  215  213  211  209  207  ...  193  191  189  187
91  227  225  223  221  219  217  215  213  211  209  ...  195  193  191  189
92  230  228  226  224  222  220  218  216  214  212  ...  198  196  194  192
93  232  230  228  226  224  222  220  218  216  214  ...  200  198  196  194

     20   21   22   23 f*14 x*14
0     -    -    -    -    0    0
1     -    -    -    -    0    0
2     -    -    -    -    5    0
3     -    -    -    -    7    0
4     -    -    -    -   10    0
..  ...  ...  ...  ...  ...  ...
89  182  180  176    -  222    0
90  185  183  181    -  225    0
91  187  185  183    -  227    0
92  190  188  186  184  230    0
93  192  190  188  184  232    0

[94 rows x 26 columns]
---------------------------------------
k=13
      0    1    2    3    4    5    6    7    8    9  ...   24   25   26   27  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    3    -    -    -    -    -    -    -    -  ...    -    -    -    -
4    10    3    -    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  218  213  209  204  200  195  191  186  182  ...  114  110  105  101
90  225  220  216  211  207  202  198  193  189  184  ...  117  112  108  103
91  227  223  218  214  209  205  200  196  191  187  ...  119  115  110  106
92  230  225  221  216  212  207  203  198  194  189  ...  122  117  113  108
93  232  228  223  219  214  210  205  201  196  192  ...  124  120  115  111

     28   29  30  31 f*13 x*13
0     -    -   -   -    0    0
1     -    -   -   -    0    0
2     -    -   -   -    5    0
3     -    -   -   -    7    0
4     -    -   -   -   10    0
..  ...  ...  ..  ..  ...  ...
89   96   92   -   -  222    0
90   99   94  90   -  225    0
91  101   97  90   -  227    0
92  104   99  95   -  230    0
93  106  102  97  93  232    0

[94 rows x 34 columns]
---------------------------------------
k=12
      0    1    2    3    4    5    6    7   8   9  10  11 f*12 x*12
0     0    -    -    -    -    -    -    -   -   -   -   -    0    0
1     0    -    -    -    -    -    -    -   -   -   -   -    0    0
2     5    -    -    -    -    -    -    -   -   -   -   -    5    0
3     7    -    -    -    -    -    -    -   -   -   -   -    7    0
4    10    -    -    -    -    -    -    -   -   -   -   -   10    0
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ..  ..  ...  ...
89  222  205  188  171  154  137  120  103  86  69  52  33  222    0
90  225  208  191  174  157  140  123  106  89  72  55  38  225    0
91  227  210  193  176  159  142  125  108  91  74  57  40  227    0
92  230  213  196  179  162  145  128  111  94  77  60  43  230    0
93  232  215  198  181  164  147  130  113  96  79  62  45  232    0

[94 rows x 14 columns]
---------------------------------------
k=11
      0    1    2    3    4    5    6    7    8    9  ...   11   12   13   14  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
4    10    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  219  215  212  208  205  201  198  194  191  ...  184  180  177  173
90  225  221  218  214  211  207  204  200  197  193  ...  186  183  179  176
91  227  224  220  217  213  210  206  203  199  196  ...  189  185  182  178
92  230  226  223  219  216  212  209  205  202  198  ...  191  188  184  181
93  232  229  225  222  218  215  211  208  204  201  ...  194  190  187  183

     15   16   17   18 f*11 x*11
0     -    -    -    -    0    0
1     -    -    -    -    0    0
2     -    -    -    -    5    0
3     -    -    -    -    7    0
4     -    -    -    -   10    0
..  ...  ...  ...  ...  ...  ...
89  170  166  163    -  222    0
90  172  169  165  162  225    0
91  175  171  168  162  227    0
92  177  174  170  167  230    0
93  180  176  173  169  232    0

[94 rows x 21 columns]
---------------------------------------
k=10
      0    1    2    3    4    5    6    7    8    9  ...   24  25  26  27  \
0     0    -    -    -    -    -    -    -    -    -  ...    -   -   -   -
1     0    -    -    -    -    -    -    -    -    -  ...    -   -   -   -
2     5    -    -    -    -    -    -    -    -    -  ...    -   -   -   -
3     7    2    -    -    -    -    -    -    -    -  ...    -   -   -   -
4    10    2    -    -    -    -    -    -    -    -  ...    -   -   -   -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ..
89  222  217  211  206  200  195  189  184  178  173  ...   90  85  79  74
90  225  219  214  208  203  197  192  186  181  175  ...   93  87  82  76
91  227  222  216  211  205  200  194  189  183  178  ...   95  90  84  79
92  230  224  219  213  208  202  197  191  186  180  ...   98  92  87  81
93  232  227  221  216  210  205  199  194  188  183  ...  100  95  89  84

    28  29  30  31 f*10 x*10
0    -   -   -   -    0    0
1    -   -   -   -    0    0
2    -   -   -   -    5    0
3    -   -   -   -    7    0
4    -   -   -   -   10    0
..  ..  ..  ..  ..  ...  ...
89  68  63   -   -  222    0
90  71  65  60   -  225    0
91  73  68  60   -  227    0
92  76  70  65   -  230    0
93  78  73  67  62  232    0

[94 rows x 34 columns]
---------------------------------------
k=9
      0    1    2    3    4    5    6    7    8    9  10  11  12  13  f*9 x*9
0     0    -    -    -    -    -    -    -    -    -   -   -   -   -    0   0
1     0    -    -    -    -    -    -    -    -    -   -   -   -   -    0   0
2     5    -    -    -    -    -    -    -    -    -   -   -   -   -    5   0
3     7    -    -    -    -    -    -    -    -    -   -   -   -   -    7   0
4    10    -    -    -    -    -    -    -    -    -   -   -   -   -   10   0
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ..  ..  ...  ..
89  222  208  193  179  164  150  135  121  106   92  77  63  48   -  222   0
90  225  210  196  181  167  152  138  123  109   94  80  65  51   -  225   0
91  227  213  198  184  169  155  140  126  111   97  82  68  53  39  227   0
92  230  215  201  186  172  157  143  128  114   99  85  70  56  39  230   0
93  232  218  203  189  174  160  145  131  116  102  87  73  58  44  232   0

[94 rows x 16 columns]
---------------------------------------
k=8
      0    1    2    3    4    5    6    7    8    9  ...   11   12  13  14  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -   -   -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -   -   -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -   -   -
3     7    -    -    -    -    -    -    -    -    -  ...    -    -   -   -
4    10    -    -    -    -    -    -    -    -    -  ...    -    -   -   -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..
89  222  212  201  191  180  170  159  149  138  128  ...  107   96  86  75
90  225  214  204  193  183  172  162  151  141  130  ...  109   99  88  78
91  227  217  206  196  185  175  164  154  143  133  ...  112  101  91  80
92  230  219  209  198  188  177  167  156  146  135  ...  114  104  93  83
93  232  222  211  201  190  180  169  159  148  138  ...  117  106  96  85

    15  16  17  18  f*8 x*8
0    -   -   -   -    0   0
1    -   -   -   -    0   0
2    -   -   -   -    5   0
3    -   -   -   -    7   0
4    -   -   -   -   10   0
..  ..  ..  ..  ..  ...  ..
89  65  54  44   -  222   0
90  67  57  46  36  225   0
91  70  59  49  36  227   0
92  72  62  51  41  230   0
93  75  64  54  43  232   0

[94 rows x 21 columns]
---------------------------------------
k=7
      0    1    2    3    4    5    6    7    8    9  ...   11   12   13   14  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
4    10    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  216  209  203  196  190  183  177  170  164  ...  151  144  138  131
90  225  218  212  205  199  192  186  179  173  166  ...  153  147  140  134
91  227  221  214  208  201  195  188  182  175  169  ...  156  149  143  136
92  230  223  217  210  204  197  191  184  178  171  ...  158  152  145  139
93  232  226  219  213  206  200  193  187  180  174  ...  161  154  148  141

     15   16   17   18  f*7 x*7
0     -    -    -    -    0   0
1     -    -    -    -    0   0
2     -    -    -    -    5   0
3     -    -    -    -    7   0
4     -    -    -    -   10   0
..  ...  ...  ...  ...  ...  ..
89  125  118  112    -  222   0
90  127  121  114  108  225   0
91  130  123  117  108  227   0
92  132  126  119  113  230   0
93  135  128  122  115  232   0

[94 rows x 21 columns]
---------------------------------------
k=6
      0    1    2    3    4    5    6    7   8   9  f*6 x*6
0     0    -    -    -    -    -    -    -   -   -    0   0
1     0    -    -    -    -    -    -    -   -   -    0   0
2     5    -    -    -    -    -    -    -   -   -    5   0
3     7    -    -    -    -    -    -    -   -   -    7   0
4    10    -    -    -    -    -    -    -   -   -   10   0
..  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...  ..
89  222  204  186  168  150  132  114   96  78   -  222   0
90  225  207  189  171  153  135  117   99  81  63  225   0
91  227  209  191  173  155  137  119  101  83  63  227   0
92  230  212  194  176  158  140  122  104  86  68  230   0
93  232  214  196  178  160  142  124  106  88  70  232   0

[94 rows x 12 columns]
---------------------------------------
k=5
      0    1    2    3    4    5    6    7    8   9  10  11  f*5 x*5
0     0    -    -    -    -    -    -    -    -   -   -   -    0   0
1     0    -    -    -    -    -    -    -    -   -   -   -    0   0
2     5    -    -    -    -    -    -    -    -   -   -   -    5   0
3     7    -    -    -    -    -    -    -    -   -   -   -    7   0
4    10    -    -    -    -    -    -    -    -   -   -   -   10   0
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ..  ...  ..
89  222  206  190  174  158  142  126  110   94  78  62  44  222   0
90  225  209  193  177  161  145  129  113   97  81  65  49  225   0
91  227  211  195  179  163  147  131  115   99  83  67  51  227   0
92  230  214  198  182  166  150  134  118  102  86  70  54  230   0
93  232  216  200  184  168  152  136  120  104  88  72  56  232   0

[94 rows x 14 columns]
---------------------------------------
k=4
      0    1    2    3    4    5    6    7    8    9  ...   24   25   26   27  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    3    -    -    -    -    -    -    -    -  ...    -    -    -    -
4    10    3    -    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  218  213  209  204  200  195  191  186  182  ...  114  110  105  101
90  225  220  216  211  207  202  198  193  189  184  ...  117  112  108  103
91  227  223  218  214  209  205  200  196  191  187  ...  119  115  110  106
92  230  225  221  216  212  207  203  198  194  189  ...  122  117  113  108
93  232  228  223  219  214  210  205  201  196  192  ...  124  120  115  111

     28   29  30  31  f*4 x*4
0     -    -   -   -    0   0
1     -    -   -   -    0   0
2     -    -   -   -    5   0
3     -    -   -   -    7   0
4     -    -   -   -   10   0
..  ...  ...  ..  ..  ...  ..
89   96   92   -   -  222   0
90   99   94  90   -  225   0
91  101   97  90   -  227   0
92  104   99  95   -  230   0
93  106  102  97  93  232   0

[94 rows x 34 columns]
---------------------------------------
k=3
      0    1    2    3    4    5    6    7    8    9  ...   24   25   26   27  \
0     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
1     0    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
2     5    -    -    -    -    -    -    -    -    -  ...    -    -    -    -
3     7    8    -    -    -    -    -    -    -    -  ...    -    -    -    -
4    10    8    -    -    -    -    -    -    -    -  ...    -    -    -    -
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
89  222  223  223  224  224  225  225  226  226  227  ...  234  235  235  236
90  225  225  226  226  227  227  228  228  229  229  ...  237  237  238  238
91  227  228  228  229  229  230  230  231  231  232  ...  239  240  240  241
92  230  230  231  231  232  232  233  233  234  234  ...  242  242  243  243
93  232  233  233  234  234  235  235  236  236  237  ...  244  245  245  246

     28   29   30   31  f*3 x*3
0     -    -    -    -    0   0
1     -    -    -    -    0   0
2     -    -    -    -    5   0
3     -    -    -    -    8   1
4     -    -    -    -   10   0
..  ...  ...  ...  ...  ...  ..
89  236  237    -    -  237  29
90  239  239  240    -  240  30
91  241  242  240    -  242  29
92  244  244  245    -  245  30
93  246  247  247  248  248  31

[94 rows x 34 columns]
---------------------------------------
k=2
      0    1    2    3    4    5    6    7   8   9  10  f*2 x*2
0     0    -    -    -    -    -    -    -   -   -   -    0   0
1     0    -    -    -    -    -    -    -   -   -   -    0   0
2     5    -    -    -    -    -    -    -   -   -   -    5   0
3     8    -    -    -    -    -    -    -   -   -   -    8   0